body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
h1,h2 {
    text-align: center;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

form {
    text-align: center;
}

#download {
    text-align: center;
}

table.seats {
  border-collapse: collapse;
  margin: 0 auto;
}

table.seats td {
  padding: 0;
}

table.seats button {
  width: 50px;
  height: 50px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}