<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OnlineTicketShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Welcome to my OnlineTicketShop!</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Poster</th>
            <th>Date</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.name}"></td>
            <td>
                <img th:if="${ticket.posterUrl != null and ticket.posterUrl != ''}" th:src="${ticket.posterUrl}"/>
            </td>
            <td th:text="${#temporals.format(ticket.date, 'YYYY:MM:dd HH:mm')}"></td>
            <td th:text="${ticket.price}"></td>
            <td>
                <form th:action="@{/order/{ticketId}(ticketId=${ticket.id})}" th:method="get">
                    <button type="submit">Add</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>