<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlineTicketShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Complete your order!</h1>
    <form>
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" required><br><br>
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" name="lastName" required><br><br>
        <label for="phoneNumber">Phone number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required><br><br>
<!--        <input type="submit" value="Buy!">-->
        <a href="/orderComplete" class="btn btn-primary">Buy!</a>
    </form>
</body>
</html>