<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OnlineTicketShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2>Your order is complete!</h2>

    <form action="/orderComplete/generatePDF" method="get">
        <button type="submit">Download Ticket</button>
    </form>
    <br>
    <form th:action="@{/}" th:method="get">
        <button type="submit">Back to home</button>
    </form>
</body>
</html>